<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{.}}"{{ end }}>
    {{ $theme := .Site.Params.colorTheme }}
    {{- partial "head.html" . -}}
    <body>
        {{- partial "body/first.html" . -}}
        <div class="bg-auto h-full min-h-screen bg-gradient-to-b dark:from-black dark:to-gray-800">
        {{- $header := .Site.Params.Header | default "header" }}
        {{- partial (printf "headers/%s.html" $header) . -}}
        <div class=" mx-auto xl:p-0 max-w-5xl">
            <div class="p-4 max-w-5xl prose dark:prose-invert" id="main">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
        {{ $footer := .Site.Params.Footer | default "footer" }}
        {{- partial (printf "footers/%s.html" $footer) . -}}
        {{ partial "scripts.html" . }}
        </div>
    </body>
</html>

