<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{.}}"{{ end }}>
    {{- partial "head.html" . -}}
    <body class="bg-auto h-full min-h-screen bg-gradient-to-b from-blue-50 to-white dark:from-slate-700 dark:to-slate-600">
    {{- partial "body/first.html" . -}}
    <div class="container mx-auto max-w-4xl p-4 xl:p-0">
        {{- partial "header.html" . -}}
        <div class="py-8 prose dark:prose-invert max-w-none" id="main">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>
    {{ partial "scripts.html" . }}
    </body>
</html>
