{{ define "main" }}
  {{ partial "plugin/breadcrumbs" . }}

  <div>
    {{ if .Params.listAllPosts | default true }}
    <ul class="p-0">
        {{ $date_format := .Site.Params.Date_Format }}
        {{ range .Paginator.Pages }}
        <li class="flex">
          <div class="w-64">{{ .Date.Format $date_format }}</div>
          <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
    {{ end }}

    {{ .Content }}
  </div>
{{ end }}
