{{ define "main" }}
{{ partial "plugin/breadcrumbs" . }}

<div class="text-center">
    {{ if (eq .Type "posts") }}
    <div class="text-sm text-slate-500 py-2">
        {{ if and (.Site.Params.Posts.showAuthor) (eq .Type "posts") }}
            {{ partial "plugin/author" . }}
        {{ end }}
        {{ if .Site.Params.Posts.showDate }}
            {{ partial "plugin/date" . }}
        {{ end }}
    </div>
    {{ end }}
</div>


{{ partial "plugin/prevnext" . }}

{{ if .Site.Params.Posts.showCategories }}
<div class="space-x-2">
    {{ range .Params.Categories }}
    <span class="bg-primary-200 p-2 text-xs hover:bg-primary-300 rounded-full capitalize">
        <a href="/categories/{{.}}" class="no-underline text-primary-500">{{ . }}</a>
    </span>
    {{ end }}
</div>
{{ end }}

{{ if .Site.Params.Posts.showShare }}
<div>
        {{ partial "plugin/share" . }}
</div>
{{ end }}

<article>  
    {{ .Content }}
</article>

{{ if .Site.Params.Posts.showTags }}
    {{ range .Params.Tags }}
        <a href="/tags/{{. | urlize}}" class="bg-gray-200 p-2 space-x-3 py-1 text-xs text-gray-700 no-underline">#{{ . }}</a>
    {{ end }}
{{ end }}

{{ partial "profile" . }}
{{ end }}
