{{ define "main" }}

{{ partial "plugin/breadcrumbs" . }}

<div class="text-center">
    {{ if (eq .Type "posts") }}
    <div class="text-sm text-slate-500 py-2">
        {{ if and (.Site.Params.Posts.showAuthor) (eq .Type "posts") }}
            {{ partial "plugin/author" . }}
        {{ end }}
        {{ if .Site.Params.Posts.showDate }}
            {{ partial "plugin/date" . }}
        {{ end }}
    </div>
    {{ end }}
</div>


{{ if .Site.Params.Posts.showShare }}
<div>
{{ partial "plugin/share" . }}
</div>
{{ end }}

<div class="md:flex">
{{ if .Params.toc }}
<div class="w-[48rem]">
    {{ partial "toc.html" . }}
</div>
{{ end }}
<article>  
    {{ .Content }}
</article>
</div>

{{ partial "plugin/prevnext" . }}

{{ partial "profile" . }}
{{ end }}
