@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
body {
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

p {
    @apply text-base text-gray-900 dark:text-gray-100;
}

#blog img {
    @apply shadow-lg p-4 border;
}

/* Pagination */
.pagination {
    @apply flex justify-center list-none space-x-4 py-4;
}

.page-item {
    @apply mx-0.5 my-1 cursor-pointer rounded hover:bg-gray-800 hover:text-white dark:hover:bg-gray-500 dark:hover:text-white;
}
a.page-link {
    @apply px-3 py-1 block;
}

.page-item.active {
    @apply bg-gray-800 text-white dark:bg-gray-300 dark:text-gray-900;
}
.page-item.disabled {
    @apply text-gray-400 hover:bg-transparent hover:text-gray-400 cursor-not-allowed;
}

/* Headings */
h1 {
    @apply text-3xl font-semibold text-gray-900 py-2 dark:text-slate-100;
}

h2 {
    @apply text-2xl font-semibold text-gray-900 py-2 dark:text-slate-50;
}

h3 {
    @apply text-xl font-semibold text-gray-900 py-2 dark:text-slate-50;
}

h4 {
    @apply text-lg font-semibold text-gray-900 py-2 dark:text-slate-50;
}

h5 {
    @apply text-base font-semibold text-gray-900 py-2 dark:text-slate-50;
}

h6 {
    @apply text-sm font-semibold text-gray-900 py-2 dark:text-slate-50;
}
