@tailwind base;
@tailwind components;

/* Font */
body {
    font-family: "Roboto", sans-serif;
}

.prose a {
    @apply text-primary-600 no-underline;
}

/* shortcode button start */
#button {
    @apply flex justify-center;
}

#button a {
    @apply text-primary-50 bg-primary-500 hover:bg-primary-700 text-sm;
}

/* shortcode button end */

a[target="_blank"]::after {
  content: '\2750';
  @apply ml-2;
}

article img {
    @apply mx-auto rounded-lg shadow-lg;
}

figcaption {
    @apply text-center text-sm;
}

.prose a:hover {
    @apply text-secondary-500;
}

.prose h2 {
    font-size: 2rem;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-smooth: always;
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}

/* Pagination Start */
.pagination {
    @apply flex justify-center list-none space-x-4 py-4;
}

.pagination a {
    @apply no-underline;
}

.page-item {
    @apply cursor-pointer rounded p-1 hover:bg-gray-800 dark:hover:bg-gray-700;
}

.page-item a {
    @apply hover:text-gray-100;
}

a.page-link {
    @apply px-3 py-1 block;
}

.page-item.active {
    @apply bg-gray-800 text-white dark:bg-gray-300 dark:text-gray-900;
}

.page-item.active a {
    @apply text-white;
}

.page-item.disabled {
    @apply cursor-not-allowed;
}
/* Pagination End */

p {
    @apply text-[1.05rem] leading-relaxed text-slate-700 antialiased dark:text-gray-100;
}

@tailwind utilities;
