@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
body {
    font-family: "Roboto", sans-serif;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("Roboto-Black.ttf") format("truetype");
    src: url("Roboto-BlackItalic.ttf") format("truetype");
    src: url("Roboto-Bold.ttf") format("truetype");
    src: url("Roboto-BoldItalic.ttf") format("truetype");
    src: url("Roboto-Italic.ttf") format("truetype");
    src: url("Roboto-Light.ttf") format("truetype");
    src: url("Roboto-LightItalic.ttf") format("truetype");
    src: url("Roboto-Medium.ttf") format("truetype");
    src: url("Roboto-MediumItalic.ttf") format("truetype");
    src: url("Roboto-Regular.ttf") format("truetype");
    src: url("Roboto-Thin.ttf") format("truetype");
    src: url("Roboto-ThinItalic.ttf") format("truetype");
}

/* Pagination */
.pagination {
    @apply flex justify-center list-none space-x-4 py-4;
}

.page-item {
    @apply mx-0.5 my-1 cursor-pointer rounded hover:bg-gray-800 hover:text-white dark:hover:bg-gray-500 dark:hover:text-white;
}
a.page-link {
    @apply px-3 py-1 block;
}

.page-item.active {
    @apply bg-gray-800 text-white dark:bg-gray-300 dark:text-gray-900;
}
.page-item.disabled {
    @apply text-gray-400 hover:bg-transparent hover:text-gray-400 cursor-not-allowed;
}

/* Headings */
h1 {
    @apply text-3xl font-semibold text-gray-900 py-2;
}

h2 {
    @apply text-2xl font-semibold text-gray-900 py-2;
}

h3 {
    @apply text-xl font-semibold text-gray-900 py-2;
}

h4 {
    @apply text-lg font-semibold text-gray-900 py-2;
}

h5 {
    @apply text-base font-semibold text-gray-900 py-2;
}

h6 {
    @apply text-sm font-semibold text-gray-900 py-2;
}
