<footer class="py-4 w-full text-gray-500 text-[0.8rem] dark:text-gray-200 md:justify-between lg:flex">
    <div class="flex space-x-1">
        <div>© 2023 {{ .Site.Title }}</div>
        {{ if .Site.Params.createdBy }}
            {{ partial "plugin/created" .}}
        {{ end }}
    </div>
    <div class="lg:flex lg:space-x-4">
        {{ range .Site.Data.navigation.footer }}
        <div><a href="{{ .url }}" class="hover:underline">{{ .name }}</a></div>
        {{ end }}
    </div>
</footer>
