{{ if and (.Site.Params.Posts.showProfile) (eq .Type "posts") }} 
{{ with .Site.Params.Author }}
<div class="flex space-x-4 items-center border-t mt-8">
    <div class="">
    {{ if .avatar }}
        <img src="{{ .avatar }}" alt="avatar" class="rounded-full shadow w-48">
    {{ end }}
    </div>
    <div>
        <div class="text-bold">{{ .name }}</div>
        <div class="text-sky-500">{{ .twitterHandle }}</div>
        <div class="text-[0.9rem]">{{ .bio }}</div>
    </div>
</div>
{{ end }}
{{ end }}
