{{ $date_format := .Site.Params.Date_Format | default "Jan 2, 2006" }}
{{ $count := .Get "count" | default 3 }}
{{ range (where .Site.RegularPages "Type" "posts") | first $count }}
  <section
    class="p-8 shadow border dark:py-8 space-y-2 bg-white dark:bg-inherit">
    <h2 class="m-0">
        <a href="{{ .Permalink }}" class="text-2xl font-semibold tracking-wide hover:text-primary-400" > {{ .Title }} </a >
    </h2>
    <div class="text-sm">
      <span class="flex mb-2 font-bold tracking-tight text-gray-500 dark:text-gray-300" >{{ .Params.Author }}</span >
      {{ if .Site.Params.Posts.showDate }}
        <span class="text-gray-500 text-md dark:text-gray-300" >{{ .Date.Format $date_format  }}</span >
      {{ end }}
    </div>
    <div class="flex flex-row space-4 gap-x-4 items-center justify-between">
      {{ if .Params.featuredImage }}
      <div class="w-1/4">
        <a href="{{ .Permalink }}"><img src="{{ .Params.featuredImage }}" class="w-full bg-black" alt="{{ .Title }}" /></a>
      </div>
      <div class="w-3/4">
        <div class="text-gray-500 dark:text-gray-200">
        {{ .Params.Description }}
      </div>
      {{ else }}
      <div>
        <div class="text-gray-500 dark:text-gray-200">
        {{ .Params.Description }}
      </div>
      {{ end }}
    </div>
  </div>
  </section>
  {{ end }}
