{{ $date_format := .Site.Params.Date_Format | default "Jan 2, 2006" }}
{{ $count := .Get "count" | default 3 }}
<div class="space-y-8 gap-x-16">
{{ range (where .Site.RegularPages "Type" "posts") | first $count }}
  <section class="py-0 dark:border-none dark:shadow-none bg-white dark:bg-inherit">
    <h2 class="m-0">
        <a href="{{ .Permalink }}" class="text-2xl font-semibold tracking-wide hover:text-primary-400" > {{ .Title }} </a >
    </h2>
    <div class="text-sm">
      <span class="flex tracking-tight text-gray-500 dark:text-gray-300" >{{ .Params.Author }}</span >
      {{ if .Site.Params.Posts.showDate }}
        <span class="text-gray-400 text-md dark:text-gray-300" >{{ .Date.Format $date_format  }}</span >
      {{ end }}
    </div>
    <div class="flex py-4 items-center justify-between">
        <div class="text-gray-500 w-full dark:text-gray-200">
          {{ .Description }}
        </div>
    </div>
    <hr class="my-4 dark:border-gray-800">
  </section>
  {{ end }}
  </div>
