{{ $date_format := .Site.Params.Date_Format | default "Jan 2, 2006" }}
{{ $count := .Get "count" | default 3 }}
<div class="space-y-8 gap-x-16">
{{ range (where .Site.RegularPages "Type" "posts") | first $count }}
  <section class="px-8 py-4 shadow border dark:border-none dark:shadow-none dark:p-0 dark:py-8 bg-white dark:bg-inherit">
    <a href="{{ .Permalink }}">
    <h2 class="m-0">
        <a href="{{ .Permalink }}" class="text-2xl font-semibold tracking-wide hover:text-primary-400" > {{ .Title }} </a >
    </h2>
        </a>
    <div class="text-sm">
      <span class="flex tracking-tight text-gray-500 dark:text-gray-300" >{{ .Params.Author }}</span >
      {{ if .Site.Params.Posts.showDate }}
        <span class="text-gray-500 text-md dark:text-gray-300" >{{ .Date.Format $date_format  }}</span >
      {{ end }}
    </div>
    <div class="flex gap-x-8 items-center justify-between">
      {{ if .Params.featuredImage }}
      <div class="w-full">
        {{ $banner := resources.Get .Params.featuredImage }}

        {{ $jpg := ($banner.Fill "464x261 q90 jpg") }}
        {{ $webp := ($banner.Fill "464x261 q90 webp") }}

        <a href="{{ .Permalink }}">
          <figure>
          <picture>
            <source type="image/webp" srcset="{{ $webp.RelPermalink }}" alt="{{ .Title }}" />
            <source type="image/jpeg" srcset="{{ $jpg.RelPermalink }} 480w" alt="{{ .Title }}" />
            <img src="{{ $jpg.RelPermalink }}" loading="lazy" decoding="async" alt="{{ .Title }}" width="464" height="261">
          </picture>
          </figure>
        </a>
      </div>
        <div class="w-full">
          {{ .Summary }}
          <a href="{{ .Permalink }}" class="block text-neutral-500">Read more</a>
        </div>
      {{ else }}
        <div class="text-gray-500 w-full dark:text-gray-200">
          {{ .Summary }}
        </div>
      {{ end }}
  </div>
  </section>
  {{ end }}
  </div>
