
<div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-16">
{{ $paginate := .Site.Params.Paginate | default 10 }}
{{ $count := .Get "count" | default 3 }}
{{ $date_format := .Site.Params.Date_Format | default "Jan 2, 2006" }}
{{ range (where .Site.RegularPages "Type" "posts") | first $count }}
  <section class="dark:py-8 space-y-2 dark:bg-inherit">
    {{ partial "plugin/categories.html" . }}
    <h2>
        <a href="{{ .Permalink }}" class="font-bold tracking-wide hover:text-primary-400" > {{ .Title }} </a >
    </h2>
    {{ if .Params.featuredImage }}
    <div>
      {{ $banner := resources.Get .Params.featuredImage }}

      {{ $tiny := ($banner.Fill "480x280 q90") }}
      {{ $small := ($banner.Fill "768x280 q90") }}
      {{ $medium := ($banner.Fill "1024x280 q90") }}
      {{ $large := ($banner.Fill "1366x280 q90") }}

      <a href="{{ .Permalink }}">
        <picture>
          <source type="image/webp" srcset="{{ replaceRE ".jpg" ".webp" .Params.featuredImage }}" alt="{{ .Title }}" />
          <source type="image/jpeg" srcset="{{ $tiny.RelPermalink }} 480w, {{ $small.RelPermalink }} 768w, {{ $medium.RelPermalink }} 1024w, {{ $large.RelPermalink }} 1366w" alt="{{ .Title }}" />
          <img src="{{ $banner.RelPermalink }}" loading="lazy" decoding="async" alt="{{ .Title }}" width="464" height="280">
        </picture>
      </a>
    </div>

    {{ end }}
    <div class="">
        {{ .Params.Description }}
    </div>
  </section>
  {{ end }}
</div>
