<div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-16">
{{ $paginate := .Site.Params.Paginate | default 10 }}
{{ $count := .Get "count" | default 3 }}
{{ $date_format := .Site.Params.Date_Format | default "Jan 2, 2006" }}
{{ range (where .Site.RegularPages "Type" "posts") | first $count }}
  <section class="dark:py-8 space-y-2 dark:bg-inherit">
    {{ partial "plugin/categories.html" . }}
    <h2>
        <a href="{{ .Permalink }}" class="font-bold tracking-wide hover:text-primary-400" > {{ .Title }} </a >
    </h2>
    {{ if .Params.featuredImage }}
    <div>
    {{ $banner := resources.Get .Params.featuredImage }}

    {{ $jpg := ($banner.Fill "464x309 q90 jpg") }}
    {{ $webp := ($banner.Fill "464x309 q90 webp") }}

    <a href="{{ .Permalink }}">
      <picture>
        <source type="image/webp" srcset="{{ $webp.RelPermalink }}" alt="{{ .Title }}" />
        <source type="image/jpeg" srcset="{{ $jpg.RelPermalink }} 480w" alt="{{ .Title }}" />
        <img src="{{ $jpg.RelPermalink }}" loading="lazy" decoding="async" alt="{{ .Title }}" width="464" height="309">
      </picture>
    </a>
  </div>

    {{ end }}
    <div>
        {{ .Params.Description }}
    </div>
  </section>
  {{ end }}
</div>
